html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}

.containter{
	margin-top: 1rem;
	padding: 0px;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
li {
	list-style: none;
}
.title {
	color: #7E7E7E;
	text-transform: capitalize;
	text-align: center;
	font-size: 1.5rem;
}
.more a{
	color: #A0A0A0;
	font-size: 1.5rem;
}
.nav-line {
	padding-bottom: 0.8rem;
	border-bottom: 0.1rem solid #F4F4F6;
}
.nav1 {
	margin: 0 auto;
	padding: 0.25rem;
	color: #777A81;
	text-align: center;
	font-size: 0.8rem;
}
.active {
    border-radius: 1.25rem;
	box-shadow: 0 0 0.25rem #7E7E7E;
}
.nav2 {
	margin: 0 auto;
	padding: 0.25rem;
	color: #777A81;
	text-transform: capitalize;
	text-align: center;
	font-size: 0.8rem;
}
.news-list p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list-group-item {
	margin: 0.6rem;
	padding: 0;
	border-top: none;
	border-left: none;
	border-right: none;
}
.list-group-item:last-child {
	border-bottom: none;
}
.user img {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.point {
	position: relative;
	display: block;
	top: -1.8rem;
	left: 1.7rem;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	background: #C1AD8C;
}
.list-group-item p {
	position: relative;
	margin-top: 0.25rem;
	margin-bottom: 0.2rem;
	color: #A3A3A3;
	text-transform: capitalize;
	font-size: 0.75rem;
}
.name {
	margin-top: 0.1rem;
	padding-left: 0;
	color: #88888E;
	font-size: 1rem;
	text-transform: capitalize;
}
.time {
	margin-top: 0.3rem;
	font-size: 0.7rem;
	color: #ADADAD;
	text-align: right;
}
.list-group-item p,.name,.time {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*分页*/

.container1 {
	padding: 18px;
	margin-bottom: 18px;
	border-bottom: 3px solid #F3F3F3;
}

.btn1 {
/*	display: inline;*/
	height: 32px;
	border: none;
	background-color: #fff;
}
.container2 {
	margin-left: 20px;
	margin-right: 20px;
}
.container2 div{
	clear: both;
}
.well {
	padding: 15px;
	font-size: 15px;
	border-radius: 15px;
	background-color: #fff;
}
.well-left {
	float: left;
}
.well-left img {
	position: relative;
	left: -33px;
}
.time1 {
	margin-bottom: 15px;
}
.label {
	background-color: #E5EBF7;
	border-radius: 12px;
}
.well-right {
	float: right;
}
.well-right .img-circle {
	position: relative;
	left: 33px;
	float: right;
}
.img-circle {
	width: 33px;
	height: 33px;
}
.thumbnail {
	padding: 3px;
	border-radius: 18px;
}
.thumbnail img {
	border-radius: 18px;
}
.container3 {
/*	margin-left: 15px;
	margin-right: 15px;*/
	padding-top: 10px;
	border-top: 3px solid #F3F3F3;
}
.container3 .col-xs-1 {
	padding: 0;
	float: right;
/*	text-align: center;*/
}
.btn2 {
/*	padding: 0;*/
	color: #fff;
	background-color: #A7AFFA;
	border-radius: 50px;
}